
.page.theme_light {
  --accent-color: #353430;
  --background-color: #FFF1F7;
  --bg-span: #FF8DCB;
  --text-color: #353430;
  --text-color_content: #353430;
  --bg_img: url(..//images/cover-image-light.png);
  --shadow_title: #FF8DCB;
  --color_title: #FFC2E6;
  --outline_hover: 1px solid rgba(50, 49, 45, 0.40);
}

.theme_light .header_record {
  display: none;
}

@media (width >= 768px) {
  :root {
  --padding: 20px;
  --margin: 20px;
  }
}

@media (width >= 1024px) {
  .page.theme_light {
  --shadow_title: #FF0070;
  }
}

@media (prefers-color-scheme: light) {
  :root {
  --accent-color: #353430;
  --background-color: #FFF1F7;
  --bg-span: #FF8DCB;
  --text-color: #353430;
  --text-color_content: #353430;
  --bg_img: url(..//images/cover-image-light.png);
  --shadow_title: #FF8DCB;
  --color_title: #FFC2E6;
  --outline_hover: 1px solid rgba(50, 49, 45, 0.40);
  }

  .theme_auto .header_record {
    display: none;
  }
}

@media (prefers-color-scheme: light) and (width >= 1024px) {
  :root {
  --shadow_title: #FF0070;
  }
}
