:root {
  --accent-color: #FF0070;
  --background-color: #000028;
  --text-size: 18px;
  --font-family: 'IBM Plex mono';
  --bg-span: #FF0070;
  --text-color: #000028;
  --text-color_content: #F1B2CE;
  --padding: 10px;
  --margin: 10px;
  --bg_img: url(../images/cover-image-dark.png);
  --shadow_title: #FF0070;
  --color_title: #DB00FF;
}

